.search-form {
  display: flex;
}

.search-form input{
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #ddd;
  border-radius: 8px 0 0 8px; 
  outline: none;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border: solid;
  border-color: #9279BA;
  outline: none;          
}

.search-button {
  padding: 0.6rem 1.1rem;
  border-radius: 4px;
  border: none;
  background-color: #9279BA;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.search-button:hover {
  background-color: #1d4ed8;
}
