.book-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.book-details-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.book-details-description {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #111827;
}

.book-details-subjects h3 {
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
}

.book-details-subjects ul {
  list-style: disc;
  padding-left: 1.25rem;
}

.book-details-subjects li {
  margin-bottom: 0.15rem;
  font-size: 0.95rem;
  color: #374151;
}
